{
  "name":"Mr. Bot",
  "description":"Type @help to get started!",
  "version":"0.0.0",
  "main":"python mr-bot.py",
  "scripts":{
    "start":"python mr-bot.py"
  },
  "dependencies":{
    "discord.py":"0.16.12"
  }
}
